---
import Container from "@components/Container.astro"
import ChatWidget from "@components/ChatWidget.tsx"
---

<div class="flex-1 py-5">
  <Container size="md">
    <slot/>
  </Container>
</div>

<ChatWidget client:only="solid-js" />